# Rasmus
Rasmus <ralc@itu.dk> RasmusAChr <ralc@itu.dk>
Rasmus <ralc@itu.dk> RasmusAChr <rasmus@supera.dk>
Rasmus <ralc@itu.dk> Rasmus Alexander Christiansen <54313567+RasmusAChr@users.noreply.github.com>
Rasmus <ralc@itu.dk> Rasmus Alexander Christiansen <rasmus@supera.dk>

# Jakob
Jakob <jakso@itu.dk> Jakob <jakobsnder@gmail.com>
Jakob <jakso@itu.dk> Jakob Sønder <161822463+jakso535@users.noreply.github.com>
Jakob <jakso@itu.dk> jakso535 <jakso@itu.dk>

# Jacob (Spon)
Jacob <spon@itu.dk> Sponnie <spon@itu.dk>
Jacob <spon@itu.dk> spon <spon@itu.dk>

# Christian
Christian <chpj@itu.dk> Christian <christian.joergensen2@gmail.com>
Christian <chpj@itu.dk> KongCristi <christian.joergensen2@gmail.com>

# Ronas
Ronas <rono@itu.dk> Ronas Olsen <151834029+RonoITU@users.noreply.github.com>
Ronas <rono@itu.dk> Ronas Olsen <rono@itu.dk>