name: .NET Build and Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_web:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies for Web
        run: dotnet restore src/Chirp.Web/Chirp.Web.csproj

      - name: Build Web
        run: dotnet build src/Chirp.Web/Chirp.Web.csproj --no-restore

  unit_test:
    needs: build_web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies for Unit Tests
        run: dotnet restore test/Chirp.TestUnit/Chirp.TestUnit.csproj

      - name: Run Unit Tests
        run: dotnet test test/Chirp.TestUnit/Chirp.TestUnit.csproj --verbosity normal

  integration_test:
    needs: build_web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies for Integration Tests
        run: dotnet restore test/Chirp.TestIntegration/Chirp.TestIntegration.csproj

      - name: Run Integration Tests
        env:
        run: dotnet test test/Chirp.TestIntegration/Chirp.TestIntegration.csproj --verbosity normal

  e2e_test:
    needs: build_web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies for End To End Tests
        run: dotnet restore test/Chirp.TestE2E/Chirp.TestE2E.csproj

      - name: Build End To End Tests
        run: dotnet build test/Chirp.TestE2E/Chirp.TestE2E.csproj --no-restore

      - name: Run Web Application
        run: dotnet run --project src/Chirp.Web/Chirp.Web.csproj --urls "http://localhost:5273"

      - name: Wait for Web Application to Start
        run: sleep 10

      - name: Install Playwright
        run: pwsh test/Chirp.TestE2E/bin/Debug/net10.0/playwright.ps1 install

      - name: End To End Test
        run: dotnet test test/Chirp.TestE2E/Chirp.TestE2E.csproj --filter "Category=End2End" --verbosity normal